# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__: 
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List development environment open source tools used in Data Science
* Demonstrate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Dplyr
2. Stringr
3. Ggplot
4. Caret

*Note*: These are all in R

| Data Science Tools |
|--------------------|
| Jupyter |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
tmin = 200
mintoh = 60
thrs = tmin/mintoh
print(thrs)

3.3333333333333335

## Author
Emma Oare